:root {
  --text-color: red;
}

body {
  background-image: url("/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.nb-c {
  background-color: rgb(178, 252, 252, 0.5);
}

.link-color {
  color: var(--text-color);
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.logo {
  width: 100px;
}

.header {
  text-align: center;
  color: var(--text-color);
}
