:root {
  --text-color: rgb(2, 212, 2);
}

body {
  background-image: url("/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.nb-c {
  background-color: rgb(178, 252, 252);
  opacity: 0.5;
}

.logo {
  width: 100px;
  opacity: 1;
}

.header {
  text-align: center;
  color: var(--text-color);
}
